# .NET Core
[Bb]in/
[Oo]bj/

# Visual Studio / Rider
.vs/
.idea/
*.user
*.userosscache
*.sln.docstates
*.suo

# Databases
db/
*.db
*.db-wal
*.db-shm

# Data & Runtimes
data/
WatchFolder/
Documents/
Output/
logs/
templates/uploads/
dcm/
DicomSender
# Build Logs
*.binlog
msbuild.binlog

# Packages & Publish
packages/
*.nupkg
publish/

# Installer & Release Outputs
dist/
Payload.zip
*.exe

# Logs
notifier_error.log
*.log

# Windows temp
*.tmp
*.bak
